*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

header{
    background-image: url(../images/bradcam.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    color: white;

}

#main-container header #menu{
    padding: 50px 0;
}

header #menu ul{
    margin: 0;
    padding: 0;
}

header #menu ul li{
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
}

header #menu ul li a{
    color: #a4b0be;
    text-decoration: none;
}

/*con el atributo hover implementamos un atributo de estado cuando el cursor este sobre nuestro link*/

header #menu ul li a:hover{ 
    color: #1e272e;
}

header #menu ul #logo{
    margin-right: 40%;
    margin-left: 100px;
}

/*************************************/

#main-container header main{
    margin: 0 auto; /*de esta forma centramos el container*/
    width: 1400px;
}

#main-container header main{
    margin: 0 auto; /*de esta forma centramos el container*/
    width: 1400px;
}

#main-container header main div{
   display: inline-block;
   vertical-align: middle;
}


#main-container header main .text h1{
    font-size: 80px;
    border-color: #1e272e;
}

#main-container header main .text p{
    font-size: 24px;
    padding: 20px 0;
}

#main-container header main .text p button{
    background-color: #00d8d6;
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 24px;
    padding: 24px 25px;
    margin: 40px 0;
}

#main-container header main .text p button:hover{
    background-color: #0fbcf9;
}

#main-container header main .image{
    text-align: right;
    width: 1000px;
}