*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

header{
    background-image: url(../images/bradcam.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    color: white;

}

#main-container header #menu{
    padding: 50px 0;
}

header #menu ul{
    margin: 0;
    padding: 0;
}

header #menu ul li{
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
}

header #menu ul li a{
    color: #a4b0be;
    text-decoration: none;
}

/*con el atributo hover implementamos un atributo de estado cuando el cursor este sobre nuestro link*/

header #menu ul li a:hover{ 
    color: #1e272e;
}

header #menu ul #logo{
    margin-right: 40%;
    margin-left: 100px;
}